/************* COMPETENCES *************/

#skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    align-items: center;
    justify-content: center;

}

.skills h3 {
    text-align: center; 
    font-weight: bold;
    font-size: 0.9em;
    margin-top: -35px;
    padding: 50px;
} 
